@font-face {
  font-family: 'ChakraPetch';
  src: url('./assets/fonts/ChakraPetch-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'ChakraPetch', sans-serif;
}

body {
  margin: 0;
}
